- var page='map'
doctype html
html
	include _inc/_meta.jade
	body
		style.
			#loading{
				display: block !important;
			}
		#loading
			.img
				img(src="images/loading.png", alt="")
				p Coming Soon
				.logo
					img(src="images/logo.svg", alt="")
		script.

			
		

			
			