#contact
	.container
		.logo(data-aos="fade-down" data-aos-duration="800")
			img(src="images/logo.svg", alt="")
		.content
			.img(data-aos="fade-up" data-aos-duration="800")
				img(src="images/info_deer1.png", alt="")
			.text
				p 地址·宜蘭縣冬山鄉下湖路285號
					br
					| EMAIL·marketing@bambiland.com.tw
			.img(data-aos="fade-up" data-aos-duration="800")
				img(src="images/info_deer2.png", alt="")
footer
	a(href="#top")
		img(src="images/icon_top.png", alt="")
	p Copyright©bambiland. All Rights Reserved.