#animalsPop
	.animalsPop_content_bg
		a(href="javascript:void(0)" onclick="triggerPop()")
			img(src="images/icon_arrow_left.png", alt="") 
			img.h(src="images/icon_arrow_left_h.png", alt="")
		.animalsPop_content
			.contentL
				.name
					p 娜娜
					span NANA
				img(src="images/animal_Nana.svg", alt="", loading="lazy")
				.grass
					img(src="images/animal_slide_grass.png", alt="", loading="lazy")
			.contentR
				ul
					li
						span 品種
						p 迷你驢
					li
						span 性別
						p 是NINI的姊姊
					li
						span 生日
						p 11/20,天蝎座
					li
						span 身高
						p 104cm
					li
						span 體重
						p 女生的體重是秘密
					li
						span 特色
						p 閃亮的歌聲
					li
						span 興趣
						p 喜歡唱歌,但歌聲讓人頭很痛
					li
						span 喜歡的東西
						p 唱歌時會有回音的山谷
					li
						span 特殊技能
						p 在眾人面前高歌還不會緊張
					li
						span 寶物
						p 房間角落養的兩隻小麻雀
					li
						span 將來的夢想
						p 在斑比山丘開一場世紀演唱會
		.animalsPop_content
			.contentL
				.name
					p 妮妮
					span NINI
				img(src="images/animal_Nini.svg", alt="", loading="lazy")
				.grass
					img(src="images/animal_slide_grass.png", alt="", loading="lazy")
			.contentR
				ul
					li
						span 品種
						p 迷你驢
					li
						span 性別
						p 是NANA的妹妹
					li
						span 生日
						p 8/16,獅子座
					li
						span 身高
						p 102cm
					li
						span 體重
						p 女生的體重是秘密
					li
						span 特色
						p 眼睛的周圍有圈白毛
					li
						span 興趣
						p 待在巨大電風扇前面思考驢生
					li
						span 喜歡的東西
						p 各種地面,能翻滾的都喜歡
					li
						span 特殊技能
						p 在草皮上360度翻滾十圈還不會頭量
					li
						span 寶物
						p 稻草枕頭
					li
						span 將來的夢想
						p 走遍全台有滑草場的公園
		.animalsPop_content
			.contentL
				.name
					p 地瓜球
					span DIGUAQIU
				img(src="images/animal_Potato.svg", alt="", loading="lazy")
				.grass
					img(src="images/animal_slide_grass.png", alt="", loading="lazy")
			.contentR
				ul
					li
						span 品種
						p 水豚
					li
						span 性別
						p 可樂餅的大姐
					li
						span 生日
						p 7/22,巨蟹座
					li
						span 身高
						p 10顆地瓜球
					li
						span 體重
						p 還在長大中
					li
						span 興趣
						p 潑冷水,因為你拍照時他在睡覺
					li
						span 喜歡的東西
						p 裝有乾草的盆子
					li
						span 特殊技能
						p 維持一個姿勢不動2個小時
					li
						span 寶物
						p 藍色的草帽
					li
						span 將來的夢想
						p 太喜歡泡水，甚至想成為第一隻到夏威夷衝浪的水豚！
		.animalsPop_content
			.contentL
				.name
					p 可樂餅
					span KOROKKE
				img(src="images/animal_Hanji.svg", alt="", loading="lazy")
				.grass
					img(src="images/animal_slide_grass.png", alt="", loading="lazy")
			.contentR
				ul
					li
						span 品種
						p 水豚
					li
						span 性別
						p 地瓜球的小妹
					li
						span 生日
						p 2/22,雙魚座
					li
						span 身高
						p 5個可樂餅高
					li
						span 體重
						p 還在長大中
					li
						span 興趣
						p 看著遠處發呆不動,你會以為他是假的呢!
					li
						span 喜歡的東西
						p 或許是地瓜球！他們倆常常形影不離
					li
						span 特殊技能
						p 用鼻子開門
					li
						span 寶物
						p 沙灘球
					li
						span 將來的夢想
						p 想參加沙灘排球夏令營，夢想可以開設沙灘排球課程
		.animalsPop_content
			.contentL
				.name
					p 斑斑
					span BAMBAM
				img(src="images/animal_BamBam.svg", alt="", loading="lazy")
				.grass
					img(src="images/animal_slide_grass.png", alt="", loading="lazy")
			.contentR
				ul
					li
						span 品種
						p 梅花鹿
					li
						span 性別
						p 有鹿角所以是小男孩
					li
						span 生日
						p 9/17 處女座
					li
						span 身高
						p 5根紅蘿蔔高
					li
						span 體重
						p 吃比較多的時候是20根紅蘿蔔重,有時候節食是15根紅蘿蔔重
					li
						span 特色
						p 呆呆的眼神
					li
						span 興趣
						p 吃吃吃吃屹
					li
						span 喜歡的東西
						p 紅蘿蔔、牧草、鹿仙豆
					li
						span 特殊技能
						p 躺在沙發一動也不動一整天、去河邊露營、追蝴蝶
					li
						span 寶物
						p 各種顏色的蘿蔔、河邊撿到的玻璃石頭
					li
						span 將來的夢想
						p 將發呆的藝術發揚光大!
		.animalsPop_content
			.contentL
				.name
					p 拉布
					span LABU
				img(src="images/animal_Labu.svg", alt="", loading="lazy")
				.grass
					img(src="images/animal_slide_grass.png", alt="", loading="lazy")
			.contentR
				ul
					li
						span 品種
						p 梅花鹿
					li
						span 性別
						p 有鹿角所以是小男孩
					li
						span 生日
						p 6/26,巨蟹座
					li
						span 身高
						p 120cm
					li
						span 體重
						p 8kg
					li
						span 特色
						p 黄色手套、胸前的愛心
					li
						span 興趣
						p 散播歡樂、傅遞愛的力量 直接擁抱、手拉手跳營火舞
					li
						span 喜歡的東西
						p 愛心形狀的各種物品
					li
						span 特殊技能
						p 與遊客合照時能擺出各種姿勢
					li
						span 寶物
						p 遊客們遺落的雨傘、遊客送的愛心別針
					li
						span 將來的夢想
						p 把愛散播給每個來到斑比山丘的人
		.animalsPop_content_bg_m
#news
	.scrollDown
		p ▼
			br
			span scroll down
	#news-container.container
		.title
			p.font_light NEWS
			.dot ・・・・・・
			h1
				span . 最新消息 .
		.newSlide.news-style
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
		a(href="news.html")
			span 看更多新消息
			i
				img(src="images/icon_arrow_rt_light.png", alt="")
#about1.about
	#about1-container.container
		.title
			p.font_light ABOUT
			.dot ・・・・・・
			h1
				span . 關於斑比 .
		.content
			.photo
				img(src="images/about_photo1.png", alt="", loading="lazy")
			.text
				h3 斑比山丘
					span BAMBI LAND
				h6 創造美感與自然共好的友善農場
				p 2019年，我們決定做點不一樣的事，
					br
					| 不僅是經營一間觀光農場，
					br
					| 更多想帶給人們的是一種生活體驗、
					br
					| 一個與自然和平共處的模式。
					br
					|  為了帶給動物們最高規格的家...
					a.more(href="javascript:void(0)" onclick="triggerNewsPop(1)")
						span more
#about2.about
	#about2-container.container
		.content
			.text
				h3 當斑比山丘成為<br>快樂又好玩的代名詞！
				h6
				p 擁有快樂美好的旅遊回憶，儀式感很重要
					br
					| 在斑比山丘除了動物的事很講究之外
					br
					| 我們熱愛生活，也熱愛各種新奇有趣的體驗
					br
					| 除了不定期推出快閃企劃...
					a.more(href="javascript:void(0)" onclick="triggerNewsPop(2)")
						span more
			.photo
				img(src="images/about_photo2.png", alt="", loading="lazy")
#ticket
	#ticket-container.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				span . 營業項目
				i ・票價資訊 .
		.content
			.ticket.ticket-r(data-aos="fade-left" data-aos-duration="800")
				img(src="images/ticket_1.png", alt="", loading="lazy")
				.info
					.infoL
						h6 全票
						.dot ・・・・・・
						p 含體驗飼料一份
					.infoR
						h6 200
							span 元
						p 提供現金、Line Pay服務。
			.ticket.ticket-l(data-aos="fade-right" data-aos-duration="800")
				img(src="images/ticket_2.png", alt="", loading="lazy")
				.info
					.infoL
						h6 優待票
						.dot ・・・・・・
						span ·65歲以上之長者、領有身心障礙手冊者及其陪同者
							br
							| *優待票皆需憑證明文件購票*
							br
							| *不含體驗飼料*
					.infoR
						h6 50
							span 元
						p 提供現金、Line Pay服務。
			.ticket.ticket-r.min(data-aos="fade-left" data-aos-duration="800")
				img(src="images/ticket_3.png", alt="", loading="lazy")
				.info
					.infoL
						h6 免購票
						.dot ・・・・・・
						span 0-5歲以下孩童
						br
						| (每位至少需要ㄧ成人陪同)
					.infoR
						h6 FREE
						p 提供現金、Line Pay服務。
			.btns
				a.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(3)")
					span 購票注意事項
				a.btn-style.bd-style(href="https://booking.menushop.tw/bambiland" target="_blank")
					span MENU+線上預約
#time
	#time-container.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				span . 園區資訊
				i ・營業時間 .
		.content
			input#time1(type="radio" name="time" checked)
			.img(data-aos="fade-right" data-aos-duration="800")
				img(src="images/time_photo.png", alt="", loading="lazy")
			input#time2(type="radio" name="time")
			.img(data-aos="fade-right" data-aos-duration="800")
				img(src="images/time_photo.png", alt="", loading="lazy")
			input#time3(type="radio" name="time")
			.img(data-aos="fade-right" data-aos-duration="800")
				img(src="images/time_photo.png", alt="", loading="lazy")
			.info(data-aos="fade-left" data-aos-duration="800")
				p ·平日
					span  10:00-17:00
				p ·假日/國定假日/寒暑假
					span  09:00-17:00
				p ·最後入園時間
					span  16:30
				label.time1.btn-style.bd-style(for="time1")
					span 午後の時光
				label.time2.btn-style.bd-style(for="time2")
					span 雨中の時光
				label.time3.btn-style.bd-style(for="time3")
					span 神秘の時光
		.msg
			p *若有相關異動將會公告於臉書粉絲專頁，恕不另行通知。
#map
	#map-container.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				span . 園區資訊
				i ・交通方式 .
		.content
			.mapBox(data-aos="zoom-in" data-aos-duration="800")
				.midLine
				.img
					img(src="images/Map.png", alt="", loading="lazy")
				.info
					h6 交通方式
					input#way1(type="radio" name="way" checked)
					input#way2(type="radio" name="way")
					input#way3(type="radio" name="way")
					.tab
						label.bl-style.way1(for="way1")
							span 自行開車
						label.bl-style.way2(for="way2")
							span 搭乘火車
						label.bl-style.way3(for="way3")
							span 搭乘客運
					.tabContent
						.text.way1
							p 行駛國道五號→於47羅東出口下交流道 ，靠五結方向行駛→直行191線道後右轉傳藝路二段→左轉光榮路→繼續直行冬山路五段→左轉成功街→右轉西安街→直行鹿梅路後繼續直行得安路→靠左行駛下湖路，續行450公尺即可抵達斑比山丘門口
						.text.way2
							p 搭乘台鐵於羅東站下車→步行至羅東轉運站→轉乘281號公車→於橫圳路口下車→步行750公尺即可抵達斑比山丘門口
						.text.way3
							p 搭乘國光客運、統聯客運、葛瑪蘭客運、首都之星客運或台北之星客運至羅東轉運站下車→轉乘281號公車→於橫圳路口下車→步行750公尺即可抵達斑比山丘門口
			.btns
				a.btn-style.bd-style(href="https://goo.gl/maps/4KaWzSkr7wsB2vjq5" target="_blank")
					span Google地圖
#rules
	#rules-container.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				span . 園區資訊
				i ・入場規則 .
		.content
			ul(data-aos="fade-right" data-aos-duration="800")
				li 營業時間：平日為10:00-17:00，週末假日、國定假日及寒暑假為09:00-17:00。
					br
					| 每日最後入園時間為16:30（若有相關異動將會公告於臉書粉絲專頁，恕不另行通知）。
				li 入園方式：採現場購票／menu+線上預約／線上購票(擇一即可)。
					br
					| ❶ 現場購票：人數到齊後請至櫃檯購票。
					br
					| ❷ 線上預約：menu+選擇預約梯次，人數到齊後請至入口報到購票。
					br
					| ❸ 線上購票：請至合作之線上平台購票，再至櫃檯報到換票。
				li 為維護您的安全，入園前務必等候聆聽園區導覽解說。
				li 建議提前完成線上預約或購票，避免現場排隊等候。
				li 因安全考量，娃娃車及輪椅禁止進入互動區，園區內有提供寄放處，建議使用嬰兒揹帶。
				li 為避免動物夥伴收到驚嚇及動物間傳染疾病，嚴禁攜帶各類寵物入園。
				li 雨天互動餵食皆正常開放，請攜帶雨具入園，禁止穿著輕便雨衣。
				li 園區內全面禁止吸菸。
				li 園區內禁帶外食。
				li 禁止餵食非園區提供或販售之飼料。
				li 禁止使用空拍機，避免造成動物夥伴受到驚嚇。
				li 有任何問題歡迎私訊斑比山丘粉絲專頁。
			.img(data-aos="fade-left" data-aos-duration="800")
				img(src="images/animal_Potato.svg", alt="", loading="lazy")
#infomation
	#infomation-container.container
		.title
			p.font_light INFORMATION
			.dot ・・・・・・
			h1
				span . 斑比玩樂
				i ・園區地圖 .
		.content
			.img(data-aos="zoom-in" data-aos-duration="500")
				img(src="images/tour_kv_l.png", alt="", loading="lazy")
				img(src="images/tour_kv_r.png", alt="", loading="lazy")
			a.btn-style.bl-style(href="map.html")
				span 一張圖帶你了解斑比山丘
#animal
	#animal-container.container
		.title
			p.font_light INFORMATION
			.dot ・・・・・・
			h1
				span . 斑比玩樂
				i ・吉祥物好朋友 .
		#animalBox
			.animalSlide
				.animalSlide_content.a1
					a(href="javascript:void(0)" onclick="triggerPop(0)")
						img(src="images/animal_Nana.svg", alt="", loading="lazy")
						.name
							p 娜娜
							span NANA
						.info
							.detail
								p 基本
									br
									| 資料
							.text 你聽!
								br
								| 是娜娜在高歌歡迎你
				.animalSlide_content.a2
					a(href="javascript:void(0)" onclick="triggerPop(1)")
						img(src="images/animal_Nini.svg", alt="", loading="lazy")
						.name
							p 妮妮
							span NINI
						.info
							.detail
								p 基本
									br
									| 資料
							.text 妮妮最撒嬌
								br
								| 喜歡討摸摸
				.animalSlide_content.a3
					a(href="javascript:void(0)" onclick="triggerPop(2)")
						img(src="images/animal_Potato.svg", alt="", loading="lazy")
						.name
							p 地瓜球
							span DIGUAQIU
						.info
							.detail
								p 基本
									br
									| 資料
							.text 夢想衝浪的
								br
								| 水豚
				.animalSlide_content.a4
					a(href="javascript:void(0)" onclick="triggerPop(3)")
						img(src="images/animal_Hanji.svg", alt="", loading="lazy")
						.name
							p 可樂餅
							span KOROKKE
						.info
							.detail
								p 基本
									br
									| 資料
							.text 躺在路中間
								br
								| 睡翻的那位
				.animalSlide_content.a5
					a(href="javascript:void(0)" onclick="triggerPop(4)")
						img(src="images/animal_BamBam.svg", alt="", loading="lazy")
						.name
							p 斑斑
							span BAMBAM
						.info
							.detail
								p 基本
									br
									| 資料
							.text 住在斑比山丘
								br
								| 後山森林裡的小精靈
				.animalSlide_content.a6
					a(href="javascript:void(0)" onclick="triggerPop(5)")
						img(src="images/animal_Labu.svg", alt="", loading="lazy")
						.name
							p 拉布
							span LABU
						.info
							.detail
								p 基本
									br
									| 資料
							.text 在斑比山丘
								br
								| 跟遊客們一起玩耍

#questions
	#questions-container.container
		.title
			p.font_light Q & A
			.dot ・・・・・・
			h1
				span . 斑比常見問題 .
		.content
			.question-session
				input#session1.checkbox(type="checkbox")
				label.btn-style.bd-style(for="session1")
					span 入園購票問題
				.content
					.question-content
						input#session1-1.checkbox(type="checkbox")
						label(for="session1-1")
							span 1.如何購票？
							.content
								.dot ・・・・・・
								span 可至現場購票、menu+線上預約或至各大網路平台購票（*網路平台以粉絲專頁公告為主）。
					.question-content
						input#session1-2.checkbox(type="checkbox")
						label(for="session1-2")
							span 2.請問入園需要先預約嗎？
							.content
								.dot ・・・・・・
								span 每日皆有開放現場購票，也可提前線上預約或網路購票。
					.question-content
						input#session1-3.checkbox(type="checkbox")
						label(for="session1-3")
							span 3.門票是否有折抵消費呢？
							.content
								.dot ・・・・・・
								span 全票可兌換體驗飼料乙份，無提供折抵消費。
					.question-content
						input#session1-4.checkbox(type="checkbox")
						label(for="session1-4")
							span 4.若已在網路平台上購票，還需要線上預約嗎？
							.content
								.dot ・・・・・・
								span 入園時直接出示核銷憑證頁面至售票櫃檯兌換實體門票，
									br
									| 並等候聆聽安全導覽解說再入園，無需線上重複預約。
					.question-content
						input#session1-5.checkbox(type="checkbox")
						label(for="session1-5")
							span 5.請問menu+預約時段已額滿，還有其他購票方式嗎？
							.content
								.dot ・・・・・・
								span 若預約時段已額滿，每日皆有開放現場購票哦！
					.question-content
						input#session1-6.checkbox(type="checkbox")
						label(for="session1-6")
							span 6.如何取消menu+線上預約呢？
							.content
								.dot ・・・・・・
								span 若要取消menu+線上預約：
									br
									| a.請上menu+網站「查詢/修改預約」，點選「取消預約」。
									br
									| b.請至電子信箱「已確認預約」信件，點選「取消預約」。
					.question-content
						input#session1-7.checkbox(type="checkbox")
						label(for="session1-7")
							span 7.現場有哪些支付方式呢？
							.content
								.dot ・・・・・・
								span 現場購票接受現金、Line Pay等服務。
			.question-session
				input#session2.checkbox(type="checkbox")
				label.btn-style.bd-style(for="session2")
					span 入園規範問題
				.content
					.question-content
						input#session2-1.checkbox(type="checkbox")
						label(for="session2-1")
							span 1.是否有限制參觀/互動餵食時間？
							.content
								.dot ・・・・・・
								span 無限制參觀停留時間，當日營業時間內蓋手章或出示票根可自由進出，營業至17:00。
					.question-content
						input#session2-2.checkbox(type="checkbox")
						label(for="session2-2")
							span 2.雨天有開放入園嗎？
							.content
								.dot ・・・・・・
								span 梅花鹿及水豚不怕下雨天，互動餵食皆正常開放，互動區域為戶外空間請攜帶雨具入園。
									br
									| 為避免梅花鹿誤食，互動區域禁止穿著輕便雨衣及鞋套。
					.question-content
						input#session2-3.checkbox(type="checkbox")
						label(for="session2-3")
							span 3.請問寵物可以入園嗎？有提供寵物寄放嗎？
							.content
								.dot ・・・・・・
								span 為避免鹿群受到驚嚇及和動物相互感染的可能，
									br
									| 園區內禁止攜帶寵物進入，亦無提供寄放服務。
					.question-content
						input#session2-4.checkbox(type="checkbox")
						label(for="session2-4")
							span 4.請問嬰兒推車或輪椅可以入園嗎？
							.content
								.dot ・・・・・・
								span 因安全考量，娃娃車及輪椅禁止進入互動區，
									br
									| 園區內有提供寄放處，並建議攜帶嬰兒背帶。
					.question-content
						input#session2-5.checkbox(type="checkbox")
						label(for="session2-5")
							span 5.有置物櫃或行李寄放服務嗎？
							.content
								.dot ・・・・・・
								span 園區內有設置退幣式行李寄物櫃，歡迎多加利用！
					.question-content
						input#session2-6.checkbox(type="checkbox")
						label(for="session2-6")
							span 6.園區內有餐廳嗎？可以攜帶外食入園嗎？
							.content
								.dot ・・・・・・
								span 為維護互動品質及避免動物們誤食，園區內禁帶外食。
									br
									| 園區內有進駐美美子咖啡廳及美美子霜淇淋，皆以販售甜食為主。
					.question-content
						input#session2-7.checkbox(type="checkbox")
						label(for="session2-7")
							span 7.若有相關的合作提案，可以與誰聯繫呢？
							.content
								.dot ・・・・・・
								span 請填寫合作需求表單https://forms.gle/WMXdVJk75SYAXFD37，相關人員會主動與您聯繫。
			.question-session
				input#session3.checkbox(type="checkbox")
				label.btn-style.bd-style(for="session3")
					span 團體入園問題
				.content
					.question-content
						input#session3-1.checkbox(type="checkbox")
						label(for="session3-1")
							span 1.請問有開放團體入園嗎？如何預約聯繫？
							.content
								.dot ・・・・・・
								span 同行人數25（含）位以上預約，請私訊斑比山丘臉書粉絲專頁。
					.question-content
						input#session3-2.checkbox(type="checkbox")
						label(for="session3-2")
							span 2.請問有團體票價或團體退佣嗎？
							.content
								.dot ・・・・・・
								span 園區內無提供團體票價、退佣、司機茶水費等。
			.img
				.img
					img(src="images/qna_Character.png" alt="", loading="lazy")
			| &nbsp;
#shop
	#shop-container.container
		.title
			p.font_light SHOP
			.dot ・・・・・・
			h1
				span . 斑比商店 .
		.content
			ul
				li
					a(href="javascript:void(0)")
						img(src="images/shop_photo1.png", alt="", loading="lazy")
					a(href="javascript:void(0)")
						img(src="images/shop_photo2.png", alt="", loading="lazy")
				li
					a(href="javascript:void(0)")
						img(src="images/shop_photo3.png", alt="", loading="lazy")
					a(href="javascript:void(0)")
						img(src="images/shop_photo4.png", alt="", loading="lazy")
			.btns
				a.btn-style.bd-style(href="https://shopee.tw/bambiland.yilan" target="_blank")
					span 立即前往蝦皮選購
#hideimg
	img(src="images/sec_bg1.png", alt="")
	img(src="images/sec_bg2.png", alt="")
	img(src="images/sec_bg3.png", alt="")
	img(src="images/sec_bg4.png", alt="")
	img(src="images/sec_bg5.png", alt="")
	img(src="images/sec_bg6.png", alt="")
	img(src="images/sec_bg7.png", alt="")
	img(src="images/sec_bg8.png", alt="")
	img(src="images/sec_bg9.png", alt="")
	img(src="images/news_photo1.png", alt="")
	img(src="images/news_photo2.png", alt="")
	img(src="images/news_photo3.png", alt="")
	img(src="images/news_photo4.png", alt="")
	img(src="images/news_photo5.png", alt="")
	
	