#animalsPop
	.animalsPop_content_bg
		a(href="javascript:void(0)" onclick="triggerPop()")
			img(src="images/icon_arrow_left.png", alt="") 
			img.h(src="images/icon_arrow_left_h.png", alt="")
		.animalsPop_content
			.contentL
				.name
					p 娜娜
					span NANA
				img(src="images/animal_Nana.svg", alt="")
				.grass
					img(src="images/animal_slide_grass.png", alt="")
			.contentR
				ul
					li
						span 品種
						p 迷你驢
					li
						span 性別
						p 是NINI的姊姊
					li
						span 生日
						p 11/20,天蝎座
					li
						span 身高
						p 104cm
					li
						span 體重
						p 女生的體重是秘密
					li
						span 特色
						p 閃亮的歌聲
					li
						span 興趣
						p 喜歡唱歌,但歌聲讓人頭很痛
					li
						span 喜歡的東西
						p 唱歌時會有回音的山谷
					li
						span 特殊技能
						p 在眾人面前高歌還不會緊張
					li
						span 寶物
						p 房間角落養的兩隻小麻雀
					li
						span 將來的夢想
						p 在斑比山丘開一場世紀演唱會
		.animalsPop_content
			.contentL
				.name
					p 妮妮
					span NINI
				img(src="images/animal_Nini.svg", alt="")
				.grass
					img(src="images/animal_slide_grass.png", alt="")
			.contentR
				ul
					li
						span 品種
						p 迷你驢
					li
						span 性別
						p 是NANA的妹妹
					li
						span 生日
						p 8/16,獅子座
					li
						span 身高
						p 102cm
					li
						span 體重
						p 女生的體重是秘密
					li
						span 特色
						p 眼睛的周圍有圈白毛
					li
						span 興趣
						p 待在巨大電風扇前面思考驢生
					li
						span 喜歡的東西
						p 各種地面,能翻滾的都喜歡
					li
						span 特殊技能
						p 在草皮上360度翻滾十圈還不會頭量
					li
						span 寶物
						p 稻草枕頭
					li
						span 將來的夢想
						p 走遍全台有滑草場的公園
		.animalsPop_content
			.contentL
				.name
					p 地瓜球
					span DIGUAQIU
				img(src="images/animal_Potato.svg", alt="")
				.grass
					img(src="images/animal_slide_grass.png", alt="")
			.contentR
				ul
					li
						span 品種
						p 水豚
					li
						span 性別
						p 可樂餅的大姐
					li
						span 生日
						p 7/22,巨蟹座
					li
						span 身高
						p 10顆地瓜球
					li
						span 體重
						p 還在長大中
					li
						span 興趣
						p 潑冷水,因為你拍照時他在睡覺
					li
						span 喜歡的東西
						p 裝有乾草的盆子
					li
						span 特殊技能
						p 維持一個姿勢不動2個小時
					li
						span 寶物
						p 藍色的草帽
					li
						span 將來的夢想
						p 太喜歡泡水，甚至想成為第一隻到夏威夷衝浪的水豚！
		.animalsPop_content
			.contentL
				.name
					p 可樂餅
					span KOROKKE
				img(src="images/animal_Hanji.svg", alt="")
				.grass
					img(src="images/animal_slide_grass.png", alt="")
			.contentR
				ul
					li
						span 品種
						p 水豚
					li
						span 性別
						p 地瓜球的小妹
					li
						span 生日
						p 2/22,雙魚座
					li
						span 身高
						p 5個可樂餅高
					li
						span 體重
						p 還在長大中
					li
						span 興趣
						p 看著遠處發呆不動,你會以為他是假的呢!
					li
						span 喜歡的東西
						p 或許是地瓜球！他們倆常常形影不離
					li
						span 特殊技能
						p 用鼻子開門
					li
						span 寶物
						p 沙灘球
					li
						span 將來的夢想
						p 想參加沙灘排球夏令營，夢想可以開設沙灘排球課程
		.animalsPop_content
			.contentL
				.name
					p 斑斑
					span BAMBAM
				img(src="images/animal_BamBam.svg", alt="")
				.grass
					img(src="images/animal_slide_grass.png", alt="")
			.contentR
				ul
					li
						span 品種
						p 梅花鹿
					li
						span 性別
						p 有鹿角所以是小男孩
					li
						span 生日
						p 9/17 處女座
					li
						span 身高
						p 5根紅蘿蔔高
					li
						span 體重
						p 吃比較多的時候是20根紅蘿蔔重,有時候節食是15根紅蘿蔔重
					li
						span 特色
						p 呆呆的眼神
					li
						span 興趣
						p 吃吃吃吃屹
					li
						span 喜歡的東西
						p 紅蘿蔔、牧草、鹿仙豆
					li
						span 特殊技能
						p 躺在沙發一動也不動一整天、去河邊露營、追蝴蝶
					li
						span 寶物
						p 各種顏色的蘿蔔、河邊撿到的玻璃石頭
					li
						span 將來的夢想
						p 將發呆的藝術發揚光大!
		.animalsPop_content
			.contentL
				.name
					p 拉布
					span LABU
				img(src="images/animal_Labu.svg", alt="")
				.grass
					img(src="images/animal_slide_grass.png", alt="")
			.contentR
				ul
					li
						span 品種
						p 梅花鹿
					li
						span 性別
						p 有鹿角所以是小男孩
					li
						span 生日
						p 6/26,巨蟹座
					li
						span 身高
						p 120cm
					li
						span 體重
						p 8kg
					li
						span 特色
						p 黄色手套、胸前的愛心
					li
						span 興趣
						p 散播歡樂、傅遞愛的力量 直接擁抱、手拉手跳營火舞
					li
						span 喜歡的東西
						p 愛心形狀的各種物品
					li
						span 特殊技能
						p 與遊客合照時能擺出各種姿勢
					li
						span 寶物
						p 遊客們遺落的雨傘、遊客送的愛心別針
					li
						span 將來的夢想
						p 把愛散播給每個來到斑比山丘的人
		.animalsPop_content_bg_m
#news
	.scrollDown
		p ▼
			br
			span scroll down
	.container
		.title
			p.font_light NEWS
			.dot ・・・・・・
			h1
				span . 最新消息 .
		.newSlide.news-style
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
			.newsSlide_content
				.date
					p.bd-style 2022 MAY 20
					span
						i 重要
				.cover(style="background-image: url('images/news_photo1.png')")
					img(src="images/news_border.png", alt="")
					.info
						.text
							h6 風箏嘉年華
							p 欸你有看過風箏嗎？風箏是什麼？新品種紅蘿蔔嗎？風箏是什麼....
							.dot ・・・・・・
				a.more.btn-style.bd-style(href="javascript:void(0)" onclick="triggerNewsPop(0)")
					span 了解更多
		a(href="news.html")
			span 看更多新消息
			i
				img(src="images/icon_arrow_rt_light.png", alt="")
#about1.about
	.container
		.title
			p.font_light ABOUT
			.dot ・・・・・・
			h1
				span . 關於斑比 .
		.content
			.photo
				img(src="images/about_photo1.png", alt="")
			.text
				h3 斑比山丘
					span BAMBI LAND
				h6 位於宜蘭冬山的梅花鹿國度
				p 有台版奈良之稱的斑比山丘位於梅花湖附近
					br
					| 整體園區約3000坪
					br
					| 鹿群活動的草皮互動區有1000坪左右
					br
					| 種有落羽松、楓樹、樟樹等
					br
					| 周邊設有專屬停車場

#about2.about
	.container
		.content
			.text
				h3 斑比與他的超萌好友們
				h6 斑比 × 水豚 × 迷你驢 還有美美子！
				p 除了梅花鹿生態園區可與小鹿近距離接觸拍照，現場也規劃有「美美子咖啡廳」及「美美子霜淇淋」進駐，門票包含著一份體驗用飼料讓大家體驗餵食！
					br
					br
					| 提醒大家勿帶毛小孩前來
					br
					| 避免彼此交叉感染的可能性
					br
					| 保護小鹿也讓這個生態園區永續經營


			.photo
				img(src="images/about_photo2.png", alt="")
				.badge
					img(src="images/Meimeizi.png", alt="")
#infomation
	.container
		.title
			p.font_light INFORMATION
			.dot ・・・・・・
			h1
				p p.1
				span . 斑比園區
				i ・斑比導覽 .
		.content
			.img(data-aos="zoom-in" data-aos-duration="500")
				img(src="images/tour_kv_l.png", alt="")
				img(src="images/tour_kv_r.png", alt="")
			a.btn-style.bd-style(href="map.html") 
				span 一張圖帶你了解斑比山丘
#animal
	.container
		.title
			p.font_light INFORMATION
			.dot ・・・・・・
			h1
				p p.2
				span . 斑比園區
				i ・動物介紹 .
		#animalBox
			.animalSlide
				.animalSlide_content.a1
					a(href="javascript:void(0)" onclick="triggerPop(0)") 
						img(src="images/animal_Nana.svg", alt="")
						.name
							p 娜娜
							span NANA
						.info
							.detail
								p 基本
									br
									| 資料
							.text 你聽!
								br
								| 是娜娜在高歌歡迎你
				.animalSlide_content.a2
					a(href="javascript:void(0)" onclick="triggerPop(1)") 
						img(src="images/animal_Nini.svg", alt="")
						.name
							p 妮妮
							span NINI
						.info
							.detail
								p 基本
									br
									| 資料
							.text 妮妮最撒嬌,
								br
								| 喜歡討摸摸!
				.animalSlide_content.a3
					a(href="javascript:void(0)" onclick="triggerPop(2)") 
						img(src="images/animal_Potato.svg", alt="")
						.name
							p 地瓜球
							span DIGUAQIU
						.info
							.detail
								p 基本
									br
									| 資料
							.text 夢想衝浪的
								br
								| 水豚
				.animalSlide_content.a4
					a(href="javascript:void(0)" onclick="triggerPop(3)") 
						img(src="images/animal_Hanji.svg", alt="")
						.name
							p 可樂餅
							span KOROKKE
						.info
							.detail
								p 基本
									br
									| 資料
							.text 躺在路中間
								br
								| 睡翻的那位
				.animalSlide_content.a5
					a(href="javascript:void(0)" onclick="triggerPop(4)") 
						img(src="images/animal_BamBam.svg", alt="")
						.name
							p 斑斑
							span BAMBAM
						.info
							.detail
								p 基本
									br
									| 資料
							.text 住在斑比山丘
								br
								| 後山森林裡的小精靈
				.animalSlide_content.a6
					a(href="javascript:void(0)" onclick="triggerPop(5)") 
						img(src="images/animal_Labu.svg", alt="")
						.name
							p 拉布
							span LABU
						.info
							.detail
								p 基本
									br
									| 資料
							.text 在斑比山丘
								br
								| 跟遊客們一起玩耍
#rules
	.container
		.title
			p.font_light INFORMATION
			.dot ・・・・・・
			h1
				p p.3
				span . 斑比園區
				i ・入場規則 .
		.content
			ul(data-aos="fade-right" data-aos-duration="800")
				li 營業時間星期一至五10:00-17:00，六日及連續假日為09:00-17:00。每日16:30停止售票。
					br
					| (連續假日或特殊情況，營業時間依粉絲團公告為主，現場將提早停止售票。)
				li 提醒您預約時段為入場購票時間，
					span 為維護您的安全，購票後需等待聆聽園區導覽解說再入園
					| ，等候時間不會太久喔！
				li 每日皆有開放現場購票，會依照現場人數安排入園。
				li 因安全考量，120公分以下孩童須家長全程牽手陪同。12歲以下孩童入場需要家長陪同，勿讓小朋友獨自一人與梅花鹿互動。
				li 禁帶外食及飲用外食(不包含瓶裝水、礦泉水)。
				li
					span 禁帶寵物，避免有任何相互感染的可能。
				li 因安全考量，娃娃車及輪椅禁止進入互動區，園區內有提供寄放處，
					span 並建議攜帶嬰兒背帶。
				li 禁止使用空拍機，避免造成梅花鹿受到驚嚇。
				li 防疫期間需進行消毒、配戴口罩及量測體溫入場。本人已閱讀並同意入園注意事項之規範，如違反規範者，後果自行負責。
			.img(data-aos="fade-left" data-aos-duration="800")
				img(src="images/animal_Potato.svg", alt="")
#ticket
	.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				p p.1
				span . 營業項目
				i ・票價資訊 .
		.content
			.ticket.ticket-r(data-aos="fade-left" data-aos-duration="800")
				img(src="images/ticket_1.png", alt="")
				.info
					.infoL
						h6 全票
						.dot ・・・・・・
						p 含體驗飼料一份
					.infoR
						h6 200
							span 元
						p 現場收費方式：
							br
							| 現金、台灣pay，無提供刷卡服務。
			.ticket.ticket-l(data-aos="fade-right" data-aos-duration="800")
				img(src="images/ticket_2.png", alt="")
				.info
					.infoL
						h6 優待票
						.dot ・・・・・・
						span ·6~12歲之孩童
							br
							| ·65歲以上之長者、領有身心障礙手冊者及其陪同者
							br
							| *優待票皆需憑證明文件購票*
					.infoR
						h6 50
							span 元
						p 現場收費方式：
							br
							| 現金、台灣pay，無提供刷卡服務。
			.ticket.ticket-r.min(data-aos="fade-left" data-aos-duration="800")
				img(src="images/ticket_3.png", alt="")
				.info
					.infoL
						h6 免購
							br
							| 票入場
						.dot ・・・・・・
						p 0-5歲以下孩童
					.infoR
						h6 FREE
						p 現場收費方式：
							br
							| 現金、台灣pay，無提供刷卡服務。
			.btns
				a.btn-style.bl-style(href="javascript:void(0)" onclick="triggerNewsPop(1)")
					span 預約須知
				a.btn-style.bl-style(href="javascript:void(0)")
					span 立即預約入園
#time
	.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				p p.2
				span . 營業項目
				i ・營業時間 .
		.content
			input#time1(type="radio" name="time" checked)
			.img(data-aos="fade-right" data-aos-duration="800")
				img(src="images/time_photo.png", alt="")
			input#time2(type="radio" name="time")
			.img(data-aos="fade-right" data-aos-duration="800")
				img(src="images/time_photo.png", alt="")
			input#time3(type="radio" name="time")
			.img(data-aos="fade-right" data-aos-duration="800")
				img(src="images/time_photo.png", alt="")
			.info(data-aos="fade-left" data-aos-duration="800")
				h6 暑假期間
				p ·星期一至星期日
					span  09:00-17:00
				p ·最後售票時間
					span  16:30
				p ·休園時間
					span  16:30
				label.time1.btn-style.bl-style(for="time1")
					span 午後の時光
				label.time2.btn-style.bl-style(for="time2")
					span 雨中の時光
				label.time3.btn-style.bl-style(for="time3")
					span 神秘の時光
			.btns
				a.btn-style.bl-style(href="javascript:void(0)" onclick="triggerNewsPop(2)")
					span 注意事項
#map
	.container
		.title
			p.font_light SERVICES
			.dot ・・・・・・
			h1
				p p.3
				span . 營業項目
				i ・交通方式 .
		.content
			.mapBox(data-aos="zoom-in" data-aos-duration="800")
				.midLine
				.img
					img(src="images/Map.png", alt="")
				.info
					h6 交通方式
					input#way1(type="radio" name="way" checked)
					input#way2(type="radio" name="way")
					input#way3(type="radio" name="way")
					.tab
						label.bd-style.way1(for="way1")
							span 自行開車
						label.bd-style.way2(for="way2")
							span 搭乘火車
						label.bd-style.way3(for="way3")
							span 搭乘客運
					.tabContent
						.text.way1
							p 行駛國道五號→於47羅東出口下交流道 ，靠五結方向行駛→直行191線道後右轉傳藝路二段→左轉光榮路→繼續直行冬山路五段→左轉成功街→右轉西安街→直行鹿梅路後繼續直行得安路→靠左行駛下湖路，續行450公尺即可抵達斑比山丘門口
						.text.way2
							p 搭乘台鐵於羅東站下車→步行至羅東轉運站→轉乘281號公車→於橫圳路口下車→步行750公尺即可抵達斑比山丘門口
						.text.way3
							p 搭乘國光客運、統聯客運、葛瑪蘭客運、首都之星客運或台北之星客運至羅東轉運站下車→轉乘281號公車→於橫圳路口下車→步行750公尺即可抵達斑比山丘門口
			.btns
				a.btn-style.bl-style(href="javascript:void(0)")
					span Google地圖
#shop
	.container
		.title
			p.font_light SHOP
			.dot ・・・・・・
			h1
				span . 斑比商店 .
		.content
			ul
				li
					a(href="javascript:void(0)")
						img(src="images/shop_photo1.png", alt="")
					a(href="javascript:void(0)")
						img(src="images/shop_photo2.png", alt="") 
				li
					a(href="javascript:void(0)")
						img(src="images/shop_photo3.png", alt="") 
					a(href="javascript:void(0)")
						img(src="images/shop_photo4.png", alt="") 
			.btns
				a.btn-style.bd-style(href="https://shp.ee/2i9bsvr" target="_blank")
					span 立即前往選購
#hideimg
	img(src="images/sec_bg1.png", alt="")
	img(src="images/sec_bg2.png", alt="")
	img(src="images/sec_bg3.png", alt="")
	img(src="images/sec_bg4.png", alt="")
	img(src="images/sec_bg5.png", alt="")
	img(src="images/sec_bg6.png", alt="")
	img(src="images/sec_bg7.png", alt="")
	img(src="images/sec_bg8.png", alt="")
	img(src="images/sec_bg9.png", alt="")
	img(src="images/kv_slide1.png", alt="")
	img(src="images/news_photo1.png", alt="")
	img(src="images/news_photo2.png", alt="")
	img(src="images/news_photo3.png", alt="")
	
	