script(src='js/libs/jquery.min.js')
script(src='js/libs/current-device.min.js')
script(src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
script(src='https://unpkg.com/aos@next/dist/aos.js')
script(src='https://manuelstofer.github.io/pinchzoom/dist/pinch-zoom.umd.js')
script(src='js/js.js?'+random)
		