
#infomation_map
	.container
		.title
			p.font_light INFORMATION
			.dot ・・・・・・
			h1
				span . 斑比園區
				i ・斑比導覽 .
		.content
			.map_tab
				a.zone1.bl-style(href="javascript:void(0)" onclick="showZone('zone1')")
					span 歡迎來到斑比山丘
				a.zone2.bl-style(href="javascript:void(0)" onclick="showZone('zone2')")
					span 斑比森林互動區
				a.zone3.bl-style(href="javascript:void(0)" onclick="showZone('zone3')")
					span 斑比販賣部
				a.zone4.bl-style(href="javascript:void(0)" onclick="showZone('zone4')")
					span 斑比山丘設施
				a.zone5.bl-style(href="javascript:void(0)" onclick="showZone('zone5')")
					span 愛情這條鹿
				a.zone6.bl-style(href="javascript:void(0)" onclick="showZone('zone6')")
					span 美美子美味魔法
			.mapZoom
				.map
					img(src="images/map_bg.png", alt="")
					img.build(src="images/map_build.png", alt="")
					img.character(src="images/map_character.png", alt="")
					.zone1
						a.zone1_1(href="javascript:void(0)" onclick="triggerNewsPop('5','1',1)")
							img(src="images/map_icon_zone1_1.png", alt="")
						a.zone1_2(href="javascript:void(0)" onclick="triggerNewsPop('5','2',1)")
							img(src="images/map_icon_zone1_2.png", alt="")
						a.zone1_3(href="javascript:void(0)" onclick="triggerNewsPop('5','3',1)")
							img(src="images/map_icon_zone1_3.png", alt="")
						a.zone1_4(href="javascript:void(0)" onclick="triggerNewsPop('5','4',1)")
							img(src="images/map_icon_zone1_4.png", alt="")
					.zone2
						a.zone2_1(href="javascript:void(0)" onclick="triggerNewsPop('5','17',2)")
							img(src="images/map_icon_zone2_17.png", alt="")
						a.zone2_2(href="javascript:void(0)" onclick="triggerNewsPop('5','18',2)")
							img(src="images/map_icon_zone2_18.png", alt="")
						a.zone2_2_2(href="javascript:void(0)" onclick="triggerNewsPop('5','18',2)")
							img(src="images/map_icon_zone2_18_2.png", alt="")
						a.zone2_3(href="javascript:void(0)" onclick="triggerNewsPop('5','19',2)")
							img(src="images/map_icon_zone2_19.png", alt="")
						a.zone2_4(href="javascript:void(0)" onclick="triggerNewsPop('5','20',2)")
							img(src="images/map_icon_zone2_20.png", alt="")
						a.zone2_5(href="javascript:void(0)" onclick="triggerNewsPop('5','A',2)")
							img(src="images/map_icon_zone2_A.png", alt="")
						a.zone2_6(href="javascript:void(0)" onclick="triggerNewsPop('5','E',2)")
							img(src="images/map_icon_zone2_E.png", alt="")
						a.zone2_7(href="javascript:void(0)" onclick="triggerNewsPop('5','F',2)")
							img(src="images/map_icon_zone2_F.png", alt="")
						a.zone2_8(href="javascript:void(0)" onclick="triggerNewsPop('5','G',2)")
							img(src="images/map_icon_zone2_G.png", alt="")
						a.zone2_9(href="javascript:void(0)" onclick="triggerNewsPop('5','H',2)")
							img(src="images/map_icon_zone2_H.png", alt="")
						a.zone2_10(href="javascript:void(0)" onclick="triggerNewsPop('5','I',2)")
							img(src="images/map_icon_zone2_I.png", alt="")
						a.zone2_11(href="javascript:void(0)" onclick="triggerNewsPop('5','J',2)")
							img(src="images/map_icon_zone2_J.png", alt="")
						a.zone2_12(href="javascript:void(0)" onclick="triggerNewsPop('5','K',2)")
							img(src="images/map_icon_zone2_K.png", alt="")
						a.zone2_13(href="javascript:void(0)" onclick="triggerNewsPop('5','L',2)")
							img(src="images/map_icon_zone2_L.png", alt="")
						a.zone2_14(href="javascript:void(0)" onclick="triggerNewsPop('5','M',2)")
							img(src="images/map_icon_zone2_M.png", alt="")
					.zone3
						a.zone3_1(href="javascript:void(0)" onclick="triggerNewsPop('5','6',3)")
							img(src="images/map_icon_zone3_6.png", alt="")
						a.zone3_2(href="javascript:void(0)" onclick="triggerNewsPop('5','7',3)")
							img(src="images/map_icon_zone3_7.png", alt="")
						a.zone3_3(href="javascript:void(0)" onclick="triggerNewsPop('5','8',3)")
							img(src="images/map_icon_zone3_8.png", alt="")
					.zone4
						a.zone4_1(href="javascript:void(0)" onclick="triggerNewsPop('5','5',4)")
							img(src="images/map_icon_zone4_5.png", alt="")
						a.zone4_2(href="javascript:void(0)" onclick="triggerNewsPop('5','9',4)")
							img(src="images/map_icon_zone4_9.png", alt="")
						a.zone4_3(href="javascript:void(0)" onclick="triggerNewsPop('5','10',4)")
							img(src="images/map_icon_zone4_10.png", alt="")
						a.zone4_4(href="javascript:void(0)" onclick="triggerNewsPop('5','11',4)")
							img(src="images/map_icon_zone4_11.png", alt="")
						a.zone4_5(href="javascript:void(0)" onclick="triggerNewsPop('5','12',4)")
							img(src="images/map_icon_zone4_12.png", alt="")
						a.zone4_6(href="javascript:void(0)" onclick="triggerNewsPop('5','13',4)")
							img(src="images/map_icon_zone4_13.png", alt="")
						a.zone4_7(href="javascript:void(0)" onclick="triggerNewsPop('5','14',4)")
							img(src="images/map_icon_zone4_14.png", alt="")
						a.zone4_8(href="javascript:void(0)" onclick="triggerNewsPop('5','15',4)")
							img(src="images/map_icon_zone4_15.png", alt="")
						a.zone4_9(href="javascript:void(0)" onclick="triggerNewsPop('5','16',4)")
							img(src="images/map_icon_zone4_16.png", alt="")
					.zone5
						a.zone5_1(href="javascript:void(0)" onclick="triggerNewsPop('5','B',5)")
							img(src="images/map_icon_zone5_B.png", alt="")
						a.zone5_2(href="javascript:void(0)" onclick="triggerNewsPop('5','C',5)")
							img(src="images/map_icon_zone5_C.png", alt="")
						a.zone5_3(href="javascript:void(0)" onclick="triggerNewsPop('5','D',5)")
							img(src="images/map_icon_zone5_D.png", alt="")
					.zone6
						a.zone6_1(href="javascript:void(0)" onclick="triggerNewsPop('5','21',6)")
							img(src="images/map_icon_zone6_21.png", alt="")
						a.zone6_2(href="javascript:void(0)" onclick="triggerNewsPop('5','22',6)")
							img(src="images/map_icon_zone6_22.png", alt="")

	
	