#newKv
	h1 . 最新消息.
	.container
		.newKvBox
			.content(style="background-image: url('images/news_kv.png')")
#news.list
	.container
		.newsList.news-style
			
		.page
			a.prev(href="javascript:void(0)" onclick="getPageNext()") 
			a.next(href="javascript:void(0)" onclick="getPagePrev()") 
#hideimg
	img(src="images/news_kv.png", alt="")
	
	